/**
 * @Author: Andrea F. Daniele <afdaniele>
 * @Date:   Monday, January 15th 2018
 * @Email:  afdaniele@ttic.edu
 * @Last modified by:   afdaniele
 * @Last modified time: Friday, February 9th 2018
 */


body > .container{
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}

.side_toolbox_container,
.tiles_toolbox_left_top,
.tiles_toolbox_right{
    width: 140px;
}


.side_toolbox_container{
    height: 620px;
    vertical-align: top;
}

.side_toolbox_container_left{
    /* border-left: 8px solid; */
}

 .tile,
 .tile_grid_container{
     width: 100px;
     height: 100px;
 }

 .tile{
     display: inline-block;
 }

 .tile:hover{
     cursor: pointer;
 }

 .tiles_toolbox_left_top{
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: visible;
    border-top-right-radius: 6px;
    border: 2px solid;
    background-color: lightgray;
 }

 .tile_0, .tile_360{}

 .tile_90{
     transform: rotate(90deg);
 }

 .tile_180{
     transform: rotate(180deg);
 }

 .tile_270{
     transform: rotate(270deg);
 }

 .tiles_toolbox_left_bottom{
    height: 120px;
    border-bottom-right-radius: 6px;
    border: 2px solid;
    text-align: center;
    vertical-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
 }

 .tiles_toolbox_left_bottom > img{
    height: 80px;
    margin-top: 20px;
 }

 .tiles_toolbox_left_top .tile{
     margin: 20px;
     z-index: 1 !important;
 }

 #town_canvas{
     background-color: #777;
     display: inline-block;
     margin: 0 40px;
     border: 2px solid black;
 }

 .grid_cell_hover{
     background-color: #fec612;
 }




 #text div {
   position:relative;
   height: 120px;
   width: 120px;
   border: 1px dashed gray;
   display: inline-block;
   margin: 0;
 }

 #text {
   width:364px;
   height:364px;
   background:black;
   margin:auto;
   display: inline-block;
 }

 #images {
   width: 100%
 }

 #drag4,
 #drag5,
 #drag6,
 #drag7,
 #drag8,
 #drag9,
 #drag10,
 #drag11,
 #drag12 {
   height: 200px;
   width: 200px;
   display: inline-block;
   background-color: yellow;
 }


 #drag_to_delete{

 }
